.areaContent{
    display: flex;
    align-items: center;
    background-color:#FFC100;
    overflow: hidden;
}

.content-gato{
    display: flex;
    width: 100vh;
    height: 100vh;
    background-color: #FFF;
    flex-direction: column;
}

.content-gato .gato {
    margin-top: -100px;
    width: 33rem;
    border-radius: 20px;
  

}

.content-gato .logo{
    width: 200px;
}

.content-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
}

.button-acess{
    margin-top: 40px;
}

.button-acess .button{
    padding: 12px 60px;
    background-color: #263238;
    border: none;
    border-radius: 20px;
    color: #FFC100;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button-acess .button:hover{
    background-color: #e8e8e8;
    color: #263238;
}

.text-acess{
    font-size: 20px;
    font-weight: 100;
}