.home-page {
    display: flex;
    background-color: #F2F2F2;
    height: 100vh; /* Ocupa a altura total da tela */
    overflow: hidden; /* Evita que o conteúdo "escorra" para fora da tela */
}

.content {
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
    margin-left: 200px; /* Compensa a largura da sidebar fixa */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que o conteúdo da header ocupe a largura total do content */
}

.card-sequence {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.charts-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.grafic-diagnoses{
    background-color: #fff;
    padding: 10px 200px;
    border-radius: 8px;
}

.grafic-positive{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.chart-1 {
    padding: 50px;
    width: 40rem;
    height: auto; /* Ajuste a altura do gráfico conforme necessário */
}

.chart-2{
    padding: 50px;
    width: 20rem;
}
