/* Sidebar principal */
.sidebar {
  position: fixed;
  width: 80px; /* Inicialmente estreita */
  height: 100vh;
  background-color: #292929; /* Fundo escuro */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaça os itens superior/inferior */
  top: 0;
  left: 0; /* Alinhada à esquerda */
  transition: width 0.5s ease-in-out; /* Transição suave ao expandir */
  overflow: hidden; /* Esconde o conteúdo excedente */
}

.sidebar:hover {
  width: 250px; /* Largura da sidebar ao passar o mouse */
}

/* Links da sidebar */
.sidebar-link {
  color: #6F6F6F;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center; /* Centraliza o ícone inicialmente */
  transition: color 0.3s ease, background-color 1s ease; /* Efeitos suaves */
  margin: 10px 0; /* Espaçamento entre os links */
}

.sidebar-link:hover {
  color: #FFC100;
  background-color: #333;
}

/* Link ativo */
.sidebar-link.active {
  color: #292929; /* Texto escuro */
  background-color: #FFC100; /* Fundo amarelo destacado */
  font-weight: bold;
  width: 100%;
}

/* Ícones da sidebar */
.sidebar-icon {
  font-size: 1.5rem; /* Tamanho do ícone */
  margin-right: 10px; /* Espaço entre ícone e texto */
}

/* Oculta o texto inicialmente */
.sidebar-text {
  display: none;
  opacity: 0;
  transition: opacity 2.0s ease, margin-left 0.5s ease;
}

/* Quando a sidebar expandir, exibe o texto */
.sidebar:hover .sidebar-text {
  display: inline-block;
  opacity: 1;
  margin-left: 10px; /* Espaçamento para o texto */
}

/* Conteúdo da sidebar (estrutura geral) */
.sidebar-content {
  display: flex;
  flex-direction: column;
}

/* Seção inferior */
.sidebar-footer {
  margin-top: 150px;
}

.sidebar .img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajuste o espaço abaixo da logo se necessário */
}

.sidebar:hover .img img {
  content: url('../assets/logo_com_hover.svg');

}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  
  .sidebar:hover {
    width: 180px;
  }

  .sidebar-text {
    font-size: 12px;
  }
}
