body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
  }
  
  .dashboard{
    padding: 5rem 10rem;
  }
  
  .sidebar {
    position:fixed;
    width: 80px;
    background-color: #333;
    height: 100vh;
    padding: 10px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    text-decoration: none;
    color: #ccc;
    padding: 10px 0;
    transition: color 0.3s;
  }
  
  .menu-item:hover {
    color: #fff;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header {
    display: flex;
    gap: 20px;
  }
  
  .header-card {
    flex: 1;
    background: #292929;
    color: #fff;
    padding: 80px;
    border-radius: 8px;
    height: 300px;
    align-items:center;
    display: flex;
    justify-content: space-around;
}
  

.img-card img{
    width: 500px;
    align-items: center;
}

  .header-metrics {
    display: flex;
    gap: 10px;
  }
  
  .metric-card-growth, .metric-card-report{
    background: #292929;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
  }
  
  
  
  .actions {
    margin: 20px 0;
    display: flex;
    gap: 10px;
  }
  
  .iniciar-btn {
    padding: 10px 20px;
    border: none;
    background: #fbc02d;
    color: #333;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  .iniciar-btn:hover {
    background: #f9a825;
  }
  

  .home-btn{
    padding: 10px 20px;
    border: none;
    margin-left: 5px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #F2F2F2;
    cursor: pointer;
    color: #6F6F6F;

  }
  .home-btn:hover{
    background-color: #CACACA;

  }

  .charts {
    display: flex;
    gap: 20px;
  }
  
  .chart {
    border-radius: 8px;
    margin-top: 1rem;
  }
  
  .chart img {
    width: 100%;
  }

  .recent-analyses ul {
    list-style: none;
    padding: 0;
  }
  
  .recent-analyses li {
    margin: 10px 0;
  }