/* Página principal */
.cats-page {
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 240px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Cabeçalho */
.cats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cats-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.cats-actions {
  display: flex;
  gap: 10px;
}

.export-button,
.add-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.export-button {
  background-color: #e0e0e0;
  color: #292929;
  transition: background-color 0.2s ease;
}

.export-button:hover {
  background-color: #d6d6d6;
}

.add-button {
  background-color: #ffc107;
  color: #292929;
  transition: background-color 0.2s ease;
}

.add-button:hover {
  background-color: #e0a706;
}

/* Input de pesquisa */
.cats-header input[type="search"] {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  width: 250px;
  margin-right: 20px;
  transition: border-color 0.2s ease;
}

.cats-header input[type="search"]:focus {
  border-color: #aaa;
}

/* Tabela */
.table-container {
  overflow-x: auto;
}

.cats-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Espaço entre as linhas para dar o efeito arredondado */
  background-color: transparent;
}

.cats-table thead {
  background-color: #f5f5f5;
}

.cats-table th {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.cats-table td {
  padding: 15px;
  font-size: 14px;
  color: #333;
  background-color: #fff;

  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.inicio {
  border-radius: 10px 0px 0px 10px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.fim {
  border-radius: 0px 10px 10px 0px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.meio{
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* Alternância de fundo para as linhas */
.cats-table tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

.cats-table tbody tr:nth-child(even) td {
  background-color: #f0f0f0;
}

.cats-table tr:hover td {
  background-color: #e8e8e8;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botão de ações */
.cats-table .actions-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.actions-menu-container {
  position: relative;
}

.actions-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 10;
  display: block; /* Sempre disponível, controlado pelo estado */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.actions-menu-container:hover .actions-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Botões de Excluir e Alterar */
.actions-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.actions-menu button:hover {
  background-color: #f5f5f5;
}

/* Estilização intuitiva */
.actions-menu button.delete {
  color: #e53935; /* Vermelho para deletar */
  font-weight: bold;
}

.actions-menu button.delete:hover {
  background-color: #ffdada; /* Fundo claro para destacar */
}

.actions-menu button.edit {
  color: #ffc107; /* Azul para editar */
  font-weight: bold;
}

.actions-menu button.edit:hover {
  background-color: #ffc10752; /* Fundo claro para destacar */
}

/* Linha de destaque */
.cats-table tr {
  border-radius: 10px;
  overflow: hidden;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination-button:hover {
  background-color: #ffc107;
  color: #292929;
}

.pagination-button.active {
  background-color: #ffc107;
  color: #292929;
  font-weight: bold;
}
